
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-wrapper-outer" style="margin-top : 100px;">
    <div class="body-wrapper">
       


        <div class="container">
            <div class="row" style="margin-top:12px;">
                <div class="col-xs-12 col-md-12 col-12">



                    <div class="">
                        <div class="widget widget-popular-posts">
                            <p style="margin-top:5px;"></p>
                            <p></p><h2 style="margin-left:0cm; margin-right:0cm"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><big><strong>1. Nhân sự phụ trách</strong></big></span></span></h2>

                            <table border="1" cellpadding="1" cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse; border:1pt solid black; margin:0 auto; width:650pt">
                                <tbody>
                                    <tr>
                                        <td style="vertical-align:top; width:24.15pt">
                                            <h3 style="text-align:center"><span style="font-size:14px"><strong><span style="font-family:Arial,Helvetica,sans-serif"><big>Stt</big></span></strong></span></h3>
                                        </td>
                                        <td style="vertical-align:top; width:117.6pt">
                                            <h3 style="text-align:center"><span style="font-size:14px"><strong><span style="font-family:Arial,Helvetica,sans-serif"><big>Họ tên</big></span></strong></span></h3>
                                        </td>
                                        <td style="vertical-align:top; width:7.0cm">
                                            <h3 style="text-align:center"><span style="font-size:14px"><strong><span style="font-family:Arial,Helvetica,sans-serif"><big>Lĩnh vực phụ trách</big></span></strong></span></h3>
                                        </td>
                                        <td style="vertical-align:top; width:127.6pt">
                                            <h3 style="text-align:center"><span style="font-size:14px"><strong><span style="font-family:Arial,Helvetica,sans-serif"><big>Email</big></span></strong></span></h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="background-color:white; width:1.0cm">
                                            <h3 style="margin-left:0cm; margin-right:0cm; text-align:center"><span style="font-size:12px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="color:#333333">1</span></big></span></span></h3>
                                        </td>
                                        <td style="background-color:white; width:4.0cm">
                                            <h3 style="margin-left:0cm; margin-right:0cm"><span style="font-size:12px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="color:#333333">&nbsp;Võ Thị Cẩm Vân</span></big></span></span></h3>
                                        </td>
                                        <td style="background-color:white; width:205.55pt">
                                            <address><span style="font-size:12px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="color:#333333">&nbsp;<strong>Giám đốc</strong></span></big></span></span></address>

                                            <h3 style="margin-left:0cm; margin-right:0cm"><span style="font-size:12px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="color:#333333">&nbsp;Quản lý các lĩnh vực: Nhân sự, Bổ sung, Sao in, Cơ sở vật chất, Kiểm định</span></big></span></span></h3>
                                        </td>
                                        <td style="background-color:white; width:120.5pt">
                                            <h3 style="margin-left:0cm; margin-right:0cm; text-align:center"><span style="font-size:12px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="color:#333333">vanvtc@tdmu.edu.vn</span></big></span></span></h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="background-color:white; width:1.0cm">
                                            <h3 style="margin-left:0cm; margin-right:0cm; text-align:center"><span style="font-size:12px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="color:#333333">2</span></big></span></span></h3>
                                        </td>
                                        <td style="background-color:white; width:4.0cm">
                                            <h3 style="margin-left:0cm; margin-right:0cm"><span style="font-size:12px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="color:#333333">&nbsp;Bạch Thị Thu Nhi</span></big></span></span></h3>
                                        </td>
                                        <td style="background-color:white; width:205.55pt">
                                            <address><strong><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Phó Giám đốc</span></span></span></span></span></strong></address>

                                            <h3 style="margin-left:0cm; margin-right:0cm"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Quản lý Biên mục, Bạn đọc, Sản phẩm Khoa học &amp; Công nghệ, Báo chí, Thông tin &amp; Dịch vụ, Kho</span></span></span></h3>
                                        </td>
                                        <td style="background-color:white; width:120.5pt">
                                            <h3 style="margin-left:0cm; margin-right:0cm; text-align:center"><span style="font-size:12px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="color:#333333">nhibtt@tdmu.edu.vn</span></big></span></span></h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="background-color:white; width:1.0cm">
                                            <h3 style="margin-left:0cm; margin-right:0cm; text-align:center"><span style="font-size:12px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="color:#333333">3</span></big></span></span></h3>
                                        </td>
                                        <td style="background-color:white; width:4.0cm"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">Lưu Thị Hiền</span></span></span></td>
                                        <td style="background-color:white; width:205.55pt">
                                            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Công tác Báo chí</span></span></span></span></span></p>

                                            <p><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Kiểm định chất lượng (Bộ GD&amp;ĐT)</span></span></span></p>
                                        </td>
                                        <td style="background-color:white; text-align:center; width:120.5pt"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">hienlt@tdmu.edu.vn</span></span></span></td>
                                    </tr>
                                    <tr>
                                        <td style="background-color:white; width:1.0cm">
                                            <h3 style="margin-left:0cm; margin-right:0cm; text-align:center"><span style="font-size:12px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="color:#333333">4&nbsp;</span></big></span></span></h3>
                                        </td>
                                        <td style="background-color:white; width:4.0cm"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">Trần Đức Tịnh</span></span></span></td>
                                        <td style="background-color:white; width:205.55pt">
                                            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Bổ sung</span></span></span></span></span></p>

                                            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Cung cấp tài liệu học tập</span></span></span></span></span></p>

                                            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Công tác sao in đề thi&nbsp; </span></span></span></span></span></p>
                                        </td>
                                        <td style="background-color:white; text-align:center; width:120.5pt"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">tinhtd@tdmu.edu.vn</span></span></span></td>
                                    </tr>
                                    <tr>
                                        <td style="background-color:white; width:1.0cm">
                                            <h3 style="margin-left:0cm; margin-right:0cm; text-align:center"><span style="font-size:12px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="color:#333333">5</span></big></span></span></h3>
                                        </td>
                                        <td style="background-color:white; width:4.0cm">
                                            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">Nguyễn Thị Diệu</span></span></span></span></span></p>
                                        </td>
                                        <td style="background-color:white; width:205.55pt">
                                            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Công tác Biên mục</span></span></span></span></span></p>

                                            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Quản lý Cộng tác viên, tình nguyện &nbsp;viên&nbsp;</span></span></span></p>
                                        </td>
                                        <td style="background-color:white; text-align:center; width:120.5pt"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">dieunt@tdmu.edu.vn</span></span></span></td>
                                    </tr>
                                    <tr>
                                        <td style="background-color:white; width:1.0cm">
                                            <h3 style="margin-left:0cm; margin-right:0cm; text-align:center"><span style="font-size:12px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="color:#333333">6</span></big></span></span></h3>
                                        </td>
                                        <td style="background-color:white; width:4.0cm"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">Nguyễn Thị Hương</span></span></span></td>
                                        <td style="background-color:white; width:205.55pt">
                                            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Sản phẩm Khoa học &amp; Công nghệ</span></span></span></span></span></p>

                                            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Bạn đọc và Dịch vụ thông tin</span></span></span></span></span></p>

                                            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Kiểm định chất lượng (AUN)</span></span></span></p>
                                        </td>
                                        <td style="background-color:white; text-align:center; width:120.5pt"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">huongnt@tdmu.edu.vn</span></span></span></td>
                                    </tr>
                                    <tr>
                                        <td style="background-color:white; width:1.0cm">
                                            <h3 style="margin-left:0cm; margin-right:0cm; text-align:center"><span style="font-size:12px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="color:#333333">7</span></big></span></span></h3>
                                        </td>
                                        <td style="background-color:white; width:4.0cm">
                                            <h3 style="margin-left:0cm; margin-right:0cm"><span style="font-size:12px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="color:#333333">&nbsp;</span></big></span></span><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">Đinh Thị Bích Lại</span></span></span></h3>
                                        </td>
                                        <td style="background-color:white; width:205.55pt">
                                            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Công tác Kho, Hành chính văn phòng </span></span></span></span></span></p>

                                            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Cấp Giấy xác nhận không nợ tài liệu</span></span></span></span></span></p>

                                            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Cấp Tài khoản Trang Thư viện số</span></span></span></span></span></p>

                                            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Tra soát Luận văn</span></span></span></p>
                                        </td>
                                        <td style="background-color:white; text-align:center; width:120.5pt"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333"><a href="mailto:laidtb@tdmu.edu.vn"><span style="color:#333333">laidtb@tdmu.edu.vn</span></a></span></span></span></td>
                                    </tr>
                                    <tr>
                                        <td style="background-color:white; width:1.0cm">
                                            <h3 style="margin-left:0cm; margin-right:0cm; text-align:center"><span style="font-size:12px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="color:#333333">8</span></big></span></span></h3>
                                        </td>
                                        <td style="background-color:white; width:4.0cm">
                                            <h3 style="margin-left:0cm; margin-right:0cm"><span style="font-size:12px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="color:#333333">&nbsp;</span></big></span></span><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">Võ Quốc Bảo</span></span></span></h3>
                                        </td>
                                        <td style="background-color:white; width:205.55pt">
                                            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Công nghệ thông tin</span></span></span></span></span></p>

                                            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Trang thiết bị</span></span></span></span></span></p>

                                            <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp;Công tác sao in phục vụ công việc chung</span></span></span><span style="font-size:12px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="color:#333333"> </span></big></span></span></p>
                                        </td>
                                        <td style="background-color:white; text-align:center; width:120.5pt"><span style="font-size:12.0pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">baovq@tmu.edu.vn</span></span></span></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="image-staff d-flex align-items-center justify-content-center mt-5" ><img alt="" src="~/assets/images/member.png" style="height:550px; width:900px"></div>

                            <address>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Hình ảnh cán bộ nhân viên Trung tâm Học liệu Đại học Thủ Dầu Một</address>

                            <h2><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><big><strong>2. Đội ngũ cộng tác viên</strong></big></span></span></h2>

                            <div><span style="font-size:14px"><big><span style="background-color:white"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:#333333">&nbsp; &nbsp; -&nbsp;</span></span></span><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:#333333">Cộng tác viên (CTV) là các bạn sinh viên làm việc bán thời gian, hỗ trợ Trung tâm một số công việc như:</span></span></span></big></span></div>

                            <ul>
                                <li style="list-style-type:none">
                                    <ul>
                                        <li style="list-style-type:none">
                                            <ul>
                                                <li style="text-align:justify">
                                                    <div><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><big>Trực phục vụ mượn trả tài liệu</big></span></span></div>
                                                </li>
                                                <li style="text-align:justify">
                                                    <div><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><big>Sắp xếp tài liệu lên kệ theo đúng vị trí</big></span></span></div>
                                                </li>
                                                <li style="text-align:justify">
                                                    <div><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><big>Vệ sinh kệ và kho sách</big></span></span></div>
                                                </li>
                                                <li style="text-align:justify">
                                                    <div><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><big>Dán nhãn tài liệu</big></span></span></div>
                                                </li>
                                                <li style="text-align:justify">
                                                    <div><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><big>Hướng dẫn và giúp đỡ bạn đọc&nbsp;tìm kiếm tài liệu</big></span></span></div>
                                                </li>
                                                <li style="text-align:justify">
                                                    <div><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><big>Thực hiện các công việc khác khi có yêu cầu</big></span></span></div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            <div style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><big><span style="background-color:white"><span style="color:#333333">&nbsp; - Trở thành&nbsp; CTV của Trung tâm, các bạn sẽ được hưởng phụ cấp theo thời gian và khả năng đáp ứng công việc, được tạo môi trường làm việc thân thiện và thoải mái.&nbsp;Qua thời gian làm việc, CTV sẽ hình thành thói quen cẩn thận trong công việc, làm việc có&nbsp;trách nhiệm và hiệu quả.</span></span></big></span></span></div>

                            <h2><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><big><strong>3. Đội ngũ tình nguyện viên</strong></big></span></span></h2>

                            <div><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><big>&nbsp; - Trung tâm Học liệu luôn hoan nghênh tinh thần tình nguyện của tất cả các bạn sinh viên. Ngoài giờ học, các bạn có thể đăng ký hỗ trợ&nbsp;Trung tâm trong các hoạt động thường xuyên.</big></span></span></div>

                            <div><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><big>&nbsp;-&nbsp; Ngoài cơ hội được tuyển chọn vào vị trí cộng tác viên, các bạn sinh viên có&nbsp;hoạt động tình nguyện tại Trung tâm trung bình 150 giờ/3 tháng sẽ được cấp giấy xác&nbsp;nhận tình nguyện&nbsp;(dùng để cộng điểm rèn luyện cuối năm học).</big></span></span></div>

                            <div><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><big>&nbsp; - Các bạn quan tâm có thể liên hệ trực tiếp tại Trung tâm, phòng A2.204 (gặp Mrs.Diệu)</big></span></span></div>

                            <div>&nbsp;</div>

                            <h3 style="text-align:right"><span style="font-size:14px"><span style="font-family:Arial,Helvetica,sans-serif"><big><em><strong>- TRUNG TÂM HỌC LIỆU -</strong></em></big></span></span></h3>

                            <p>&nbsp;</p>

                            <p>&nbsp;</p>
                            <p></p>

                        </div>
                        
                    </div>

                </div>
                
            </div>
        </div>


    </div>


    
    <!-- end noi dung chinh -->
</div>

